@use 'sass:color';

.main-content {
	height: 100%;
	width: 100%;
	text-align: center;

	// .main-content__body
	&__body {
		padding: 10px;
		color: #707070;
	}

	// .main-content__title;
	&__title {
		padding: 20px 0;
		h1 {
			text-transform: uppercase;
			font-family: 'Play', sans-serif;
			font-size: 42px;
			// color: aqua;
			// color: adjust-hue($color: #32798f, $degrees: 270);

			margin: set-nth(10px 20px 30px, 1, 2em);
			// margin: set-nth(10px 20px 30px, -1, 8em);
			margin: set-nth($list: 2, $n: -1, $value: 10px);

			// adjust-hue($color, $degrees); //=> color
			// color: tint(variables.$color, 25%);
			// color: shade($color: #32798f, 25%);
			// color: change($color: #6b717f, $red: 100);
		}
	}
}
// -----------------------------------------------------------------------------
