.grad_underline {
	background: linear-gradient(to left, transparent, transparent),
		linear-gradient(
			to left,
			var(--background-selected),
			var(--font-color-active)
		);
	background-size:
		100% 1px,
		0 1px;
	background-position:
		100% 100%,
		0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}

.gradient-box {
	background: linear-gradient(to right, #0b486bbd, #0b486b, #0b486bbd);
}

.gradient-top-link {
	text-shadow: $orange 1px 0 10px;
	background: linear-gradient(to bottom, #008192, #90effc, #008192 100%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient {
	background: linear-gradient(to right bottom, #000000, #2a2d41);
}

.icon-style {
	border: 1px var(--border-color);
	border-style: none solid;
	height: 100%;
	padding: 0 1.5rem;
	@include flex-align-center;
}
// ! (button-press) ------------------------------------------------------------
._button-press {
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;

	&::before {
		bottom: 0;

		border-radius: inherit;
		box-shadow:
			0 0.05em 1px 3px #dadada34,
			0 0.05em 1px 3px #dadada34 #141414ec;
		transform: translate3d(0, 0.15em, -1em);
		transition:
			transform 0.4s,
			box-shadow 0.4s;
	}

	&:hover::before {
		box-shadow:
			0 0 0 2px #dadada34,
			0 0.05em 0 0 #dadada34;
		transform: translate3d(0, 0.05em, -3em);
	}

	&:active {
		background: $orange;
		transform: translate(0em, 0.3em);
	}

	&:active::before {
		box-shadow:
			0 0 0 2px #dadada34,
			0 0.05em 0 0 #dadada34;
		transform: translate3d(0, 0.05em, -1em);
	}
}
