extends ../layout/app
block page 
	include ../includes/mixins.pug
	div(class="wrapper") 
		include ../chunk/header
		main.main-content
			._container
				._body
				._form
	
			


		include ../chunk/footer