extends ../layout/app
block head
	include ../includes/mixins.pug
	+script("./js/apple_main.min.js")
block title 
	title Apple iPhone
block page 
	include ../includes/mixins.pug
	div(class="wrapper") 
		#root

			

